:root {
  /* colors */
  --clr-light: #fafafa;
  --clr-dark: rgb(2, 6, 23);
  --clr-peach: #ffc8dd;
  --clr-peach-light: rgb(255, 200, 221, 0.5);
  --clr-blue: #a2d2ff;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-s: 0.875rem;
  --size-base: 1rem;
  --size-l: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

body {
  margin: 0;
  font-family: "Poppins", "Lora";
  background-color: var(--clr-light);
  background: linear-gradient(45deg, var(--clr-blue), var(--clr-light));
}
.container {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}
svg {
  width: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-cart {
  position: relative;
  color: #353432;
}

.icon-cart:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.icon-cart span {
  position: absolute;
  background-color: var(--clr-peach);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}
.title {
  font-family: "Poppins";
  font-size: var(--size-4xl);
  font-weight: 600;
  background-color: var(--clr-light);
  background-clip: text;
  color: transparent;
  color: #353432;
}
.listProduct .item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.listProduct .item {
  background-color: var(--clr-light);

  padding: 10px;
  border-radius: 20px;
}

.listProduct .item:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
  background-size: 300%;

  animation: bg-animation 2.5s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.listProduct .item h2 {
  font-weight: 500;
  font-size: var(--size-xl);
}
.listProduct .item .price {
  letter-spacing: 5px;
  font-size: var(--size-base);
}
.listProduct .item button {
  background: linear-gradient(45deg, var(--clr-peach), var(--clr-blue));
  background-color: var(--clr-peach);
  color: var(--clr-dark);
  border: none;
  padding: 15px 25px;
  margin-top: 10px;
  border-radius: 20px;
}

/* cart */
.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}
body.showCart .cartTab {
  right: 0;
}
body.showCart .container {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
  background-color: var(--clr-peach);
  color: var(--clr-dark);
  border: none;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close {
  background-color: #eee;
}
.listCart .item img {
  width: 100%;
}
.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
}
